<div ng-include="'partials/_carousel.html'"></div>    

<div class="container">

	<div class="row">		
	  <div ng-include="'partials/_header.html'"></div>   
	  <div class="span8" style="background: blue;">
	  	<div ng-include="'partials/_left-col.html'"></div>   
	  </div>
	  <div class="span4" style="background: red;">
			<div ng-include="'partials/_right-col.html'"></div>   
		</div>
	</div>	

			<input ng-model="searchy">
		<div>Hello {{searchy}}</div>	

		<!-- Directive -->
		<div hello></div>



	Search: <input type="text" ng-model="search.name">
	<ul>
	  <li ng-repeat="todo in todos | filter: search">
	    <input type="checkbox" ng-model="todo.completed">
	    <a href="#/{{$index}}">{{todo.name}}</a>
	  </li>
	</ul>

</div>
